@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

* {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    color: #3e3a39;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

body {
    color: #3e3a39;
    letter-spacing: -0.2px;
}

span.mapicon {
    color: #0047ba;
}

.leaflet-control-container {
    display: none;
}